In [1]:
import pandas as pd
mobile_data = pd.read_csv("Mobile Classification.csv")

In [2]:
mobile_data

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [4]:
mobile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [5]:
mobile_data.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [9]:
avg_ram = mobile_data.groupby('price_range')[['ram']].mean().reset_index()

In [10]:
avg_ram

   price_range       ram
0            0   785.314
1            1  1679.490
2            2  2582.816
3            3  3449.232

In [11]:
y = mobile_data[['price_range']]
X = mobile_data.drop(columns = ['price_range'])

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .25, random_state = 42)

In [15]:
len(X_train), len(X_test), len(y_train), len(y_test)

(1500, 500, 1500, 500)

In [16]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 1000, random_state = 42)
rf = model.fit(X_train, y_train)

C:\Users\DELL\AppData\Local\Temp/ipykernel_3828/3545093821.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = model.fit(X_train, y_train)

In [17]:
rf

RandomForestClassifier(n_estimators=1000, random_state=42)

In [18]:
y_test['Prediction'] = model.predict(X_test)

C:\Users\DELL\AppData\Local\Temp/ipykernel_3828/2837829014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Prediction'] = model.predict(X_test)

In [19]:
y_test

      price_range  Prediction
1860            0           0
353             2           2
1333            1           1
905             3           3
1289            1           1
...           ...         ...
765             0           0
1356            1           1
408             2           2
1614            3           3
694             1           1

[500 rows x 2 columns]

In [21]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(confusion_matrix(y_test['price_range'], y_test['Prediction']))
print(accuracy_score(y_test['price_range'], y_test['Prediction']))

[[123   9   0   0]
 [  7 103   8   0]
 [  0  13  97  10]
 [  0   0  13 117]]
0.88

In [43]:
forest_importance = pd.Series(model.feature_importances_, index = X.columns)

In [45]:
forest_importance.sort_values(ascending = False).head(10)

ram              0.481575
battery_power    0.073099
px_height        0.056724
px_width         0.052912
mobile_wt        0.039283
int_memory       0.037024
talk_time        0.030752
pc               0.030143
clock_speed      0.029690
sc_w             0.028792
dtype: float64

In [48]:
X2 = mobile_data[['ram', 'battery_power', 'px_height', 'px_width', 'mobile_wt', 'int_memory', 'talk_time', 'pc', 'clock_speed','sc_w']]
y2 = [['price_range']]

In [51]:
len(X_train), len(X_test), len(y_train), len(y_test)

ValueError: Found input variables with inconsistent numbers of samples: [2000, 1]